body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    padding: 10px;
    background-color: #E2E0E0;
    border-radius: 4px;
}
button, input{
   height: 100%;
   width: 100%; 
   outline: none;
   border: 0px solid transparent;
   padding: 10px;
   border-radius: 2px;
   font-size: 20px;
}
input{
    text-align: right;
}
#expression{
    background-color: rgb(243, 239, 239);
    color: #5c5858;
}
caption{
    background-color: #000000;
    height: 30px;
    color: white;
    font-size: 25px;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid transparent;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 10px;
}
table{
    background-color: #E2E0E0;
}
td{
    height: 40px;
    min-width: 90px;
}

.operand{
    background-color: white;
}

.operand:hover{
    background-color: #FFC877;
}

.special-operator{
    background-color: white;
}

.special-operator:hover{
    background-color: #FFC877;
}

.operator{
    background-color: #C14444;
}

.operator:hover{
    background-color: rgb(184, 4, 4);
}